//secret party colors
$fluffy: #DEEEF8;
$teal: #55C3DB;
$blue: #229FF3;
$purple: #2E3192;
$lightpurple: #4e337e;
$violet: #7433DF;
$red: #E56E66;
$salmon: #dd879f;
$cream: #F4ECDC;
$skin: #EDBFA8;
$tan: #8C8DA1;
$coal: #333B42;

html {
  min-height: 100%;
}
body {
  background-color: $cream;
  // background: -webkit-linear-gradient(left top, $blue , $lightpurple); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(bottom right, $blue, $lightpurple); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(bottom right, $blue, $lightpurple); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to bottom right, $blue , $lightpurple); /* Standard syntax */
  // background-repeat: no-repeat;
}
nav {
  background: -webkit-linear-gradient(left top, $teal , teal); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $teal, teal); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $teal, teal); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $teal , teal); /* Standard syntax */
  background-repeat: no-repeat;
  padding: auto 20px;
  color: black;
  background-color: $cream;
  .nav-wrapper{
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.hidden {
  display: none;
}

.landingPage {
  background-color: $coal;
}


.page-footer {
  background: -webkit-linear-gradient(left top, $purple , $lightpurple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $purple, $lightpurple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $purple, $lightpurple); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $purple , $lightpurple); /* Standard syntax */
  background-repeat: no-repeat;
}


#logo{
  margin: 12px 10px;
  height: 25px;
  width: 25px;
  background: url('secretPartyLogo.png') no-repeat;
  background-size: 25px;
}

.mainPanel {
  background-color: white;
}

.navbutton {
  #menubutton {
    margin: 10px 20px;
    font-size: 40px;
  }
}

.card .card-action a {
  color: white;
}

#wordmark {
  font-variant: small-caps;
}

.coverPage {
  position: absolute;
  left: 50%;
  top: 50%;
  ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
